@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";

}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="icon_pens"></i>
            <div class="count">6.674</div>
            <div class="title">son tus requerimientos</div>
        </div><!--/.info-box-->
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="icon_document_alt"></i>
            <div class="count">Modificar</div>
            <div class="title">Formulario</div>
        </div><!--/.info-box-->
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="icon_group"></i>
            <div class="count">4.362</div>
            <div class="title">Agentes</div>
        </div><!--/.info-box-->
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="icon_lightbulb"></i>
            <div class="count">Modificar</div>
            <div class="title">Colores</div>
        </div><!--/.info-box-->
    </div><!--/.col-->

</div>