<div id="contact">

    <div class="parallax-back" data-stellar-background-ratio="0.5">
        <div class="opcaity">
            <div class="w-container wrap">

                <div class="center">
                    <h1 class="underline">SOLICITAR UN NUEVO REQUERIMIENTO</h1>
                    <p>Solicita un requerimiento para esta área y en breve será atendido, recuerda que puedes ver el estado actual.</p>


                    <div class="w-form">

                        <form action="contact.php" method="post">

                            <label for="name"></label>

                            <input class="w-input" type="text" id="name" placeholder="Enter your name" name="cf_name">

                            <label for="email"></label>

                            <input class="w-input" placeholder="Enter your email address" type="text" id="email" name="cf_email" required="required">

                            <label for="message"></label>

                            <textarea class="w-input message" placeholder="Enter your Message Here" id="message" name="cf_message"></textarea><br>

                            <input class="button medium" type="submit" value="Send">

                        </form>

                        <div class="w-form-done">

                            <p>Thank you! Your submission has been received!</p>

                        </div>

                        <div class="w-form-fail">

                            <p>Oops! Something went wrong while submitting the form :(</p>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
