<style>
    h4{
        color:#000;
        text-transform: none;
    }
</style>

<div id="contact">

    <div class="parallax-back" data-stellar-background-ratio="0.5">
        <div class="opcaity">
            <div class="w-container wrap">

                <div class="center">
                    <h1 class="underline">SOLICITAR UN NUEVO REQUERIMIENTO</h1>
                    <p>Solicita un requerimiento para esta área y en breve será atendido, recuerda que puedes ver el estado actual.</p>


                    <div class="w-form">

                        <form method="post" id="form-builder">
                            <section>

                            </section>

                            <input class="button medium" type="submit" value="Crear">

                        </form>

                        <div class="w-form-done">

                            <h3 style="color:black;">¡Gracias!, hemos recibido tu requerimiento.</h3>
                            <h4>Tu número de ticket es <span id="ticket-output"></span> con el que podrás verificar su estado.</h4>

                        </div>

                        <div class="w-form-fail">

                            <p>Oops! Something went wrong while submitting the form :(</p>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
