
@{
    ViewBag.Title = "GetForm";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
}

<h2>Modificar formulario</h2>

<section class="col-xs-6 col-md-offset-3" id="form-builder">
    <div class="col-md-12 portlets">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left" id="form-title">Constructor: </div>
                <div class="widget-icons pull-right">
                    <a href="#" ><i style="width:18px;" class="fa fa-plus-circle"></i>Añadir campo</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="padd">

                    <div class="form quick-post">
                        <table class="table table-hover" id="all-agents">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Rows-->
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="widget-foot">
                    <!-- Footer goes here -->
                </div>
            </div>
        </div>

    </div>

    
</section>

@section Scripts{
    <script>
        var template = "Default";
        var typeField = {
            string: '<input class="form-control" type="text" id="{0}" name="{1}">',
            text: '<textarea class="form-control" id="{0}" name="{1}"></textarea>'
        };

        (function () {
            /// Settings
            // Get template
            getTemplateByName();
        })();

        function formBuilder(stringBuilder) {
            $("#form-title").text('Constructor: ' + template);

            if (stringBuilder.length > 0) {
                var items = stringBuilder.split(';');
                var html = "";
                $.each(items, function (key, value) {
                    var row = value.split('|');

                    html +=
                        '<tr>' +
                            '<td>' + row[1] + '</td>' +
                            '<td>' + typeField[row[0]].replace('{0}', row[1]).replace('{1}', row[1]) + '</td>' +
                        '</tr>'


                });
                console.log(html)
                $("#all-agents>tbody").append(html);
            }
        }

        function getTemplateByName() {
            $.ajax({
                url: "@Url.Action("GetTemplateByName", "Requirement")",
                type: "GET",
                data: "name=" + template,
                success: function (data) {
                    console.log(data);
                    formBuilder(data.Template);
                },
                error: function (data) {
                    
                    console.log(data);
                    switch (data.status) {
                        case 403:
                        case 400:
                        case 404:
                            alert(JSON.parse(data.responseText).Message);
                            break;
                        default:
                            alert('Ocurrió un imprevisto, para más detalles revisa la consola de desarrolladores');
                            break;
                    }
                }
            });
        }

        $("#login-form").on("submit", function (event) {
            
            event.preventDefault();
        });
    </script>
}