
@{
    ViewBag.Title = "Requerimientos";
    Layout = "~/Views/Shared/_AgentLayout.cshtml";
}

<h2>Requerimientos</h2>

<p>Aquí están todos los requerimientos</p>

<table class="table table-hover" id="all-requirements">
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Estado</th>
            <th>Calificación</th>
            <th>Requerimiento</th>
            <th>Asignado a</th>
        </tr>
    </thead>
    <tbody>
        <!--Rows-->
    </tbody>
</table>


@section Scripts{
    <script>
        var agents = null;
        var agentsHTML = "";

        (function () {
            /// Setting up view
            getAllAgents();

            $('#all-agents').DataTable({
                "language": {
                    "url": "/Content/Admin/assets/Spanish.json"
                }
            });
        })();

        function createTable(items) {
            $('#all-requirements').DataTable().destroy();

            $.each(items, function (key, value) {
                var html =
                    '<tr id="ticket-' + value.Ticket + '">' +
                        '<td>' + value.Ticket + '</td>' +
                        '<td>' + value.Status + '</td>' +
                        '<td>' + value.Rate + '</td>' +
                        '<td>' + (value.Data.Title != undefined && value.Data.Title != null ? value.Data.Title : '') + ' | <a href="@Url.Action("Detail")?ticket=' + value.Ticket + '" >Ver detalle</a>' + '</td>' +
                        '<td>' + agentsHTML + '</td>' +
                    '</tr>';

                $("#all-requirements>tbody").append(html);

                if (value.AgentUsername != undefined && value.AgentUsername != null) {
                    $("#ticket-" + value.Ticket + ">td>select").val("agent-" + value.AgentUsername);
                }                
            });
            
            $('#all-requirements').DataTable({
                "language": {
                    "url": "/Content/Admin/assets/Spanish.json"
                }
            });

        }

        $('#all-requirements').delegate('select', 'change', function () {
            
            var agentUsername = $(this).val().split('agent-')[1];
            var ticket = $(this).parent().parent().attr("id").split('ticket-')[1];
            
            $.ajax({
                url: "@Url.Action("AssignAgent", "Requirement")",
                type: "POST",
                data: "ticket=" + ticket + "&agentUsername=" + agentUsername,
                success: function (data) {
                        
                },
                error: function (data) {
                    console.log(data);
                    switch (data.status) {
                        case 404:
                            alert(JSON.parse(data.responseText).Message);
                            break;
                        default:
                            alert('Ocurrió un imprevisto, para más detalles revisa la consola de desarrolladores');
                            break;
                    }
                }
            });
        });

        function getAllAgents() {
            $.ajax({
                url: "@Url.Action("GetAll", "Agent")",
                type: "GET",
                success: function (data) {
                    console.log("Agents:")
                    console.log(data);

                    createAgents(data);
                    getAllRequirements();

                },
                error: function (data) {
                    console.log(data);
                    switch (data.status) {
                        case 404:
                            alert(JSON.parse(data.responseText).Message);
                            break;
                        default:
                            alert('Ocurrió un imprevisto, para más detalles revisa la consola de desarrolladores');
                            break;
                    }
                }
            });
        }

        function getAllRequirements() {
            $.ajax({
                url: "@Url.Action("GetAllRequirements", "Requirement")",
                type: "GET",
                success: function (data) {
                    console.log("Requirements:")
                    console.log(data);

                    createTable(data);
                },
                error: function (data) {
                    console.log(data);
                    switch (data.status) {
                        case 404:
                            alert(JSON.parse(data.responseText).Message);
                            break;
                        default:
                            alert('Ocurrió un imprevisto, para más detalles revisa la consola de desarrolladores');
                            break;
                    }
                }
            });
        }

        function createAgents(data) {
            agentsHTML = '<select><option value="0" disabled selected>Selecciona un agente</option>';

            $.each(data, function (key, value) {
                agentsHTML += '<option id="agent-' + value.Username + '" value="agent-' + value.Username + '">' + value.Name + " " + value.Lastname + '</option>'
            });

            agentsHTML += "</select>";
        }
    </script>
}
